<div class="container">
  <h2>Welcome to OAuth Mayhem</h2>
  <p>See your 101 latest activities on gitlab!</p>
  <div class="container">
    <% if (viewData.gitlab_query) { %>
      <a href="<%= viewData.gitlab_query %>">
        <button class="btn btn-success oauth-btn">Login with Gitlab</button>
      </a>
    <% } %>
  </div>
</div>