<nav class="navbar navbar-expand-lg navbar-dark bg-dark oauth-header">
  <a class="navbar-brand" href="/">OAuth Mayhem</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>

    <% if (viewData.name) { %>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/activities">Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/logout">Logout</a>
      </li>
    <% } %>
  </ul>
</nav>
